.container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  border: 1px solid rgb(212 209 209);
  margin-top: 20px;
  padding: 20px;
}

.leftColumn,
.rightColumn {
  width: 50%;
}

.leftColumn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 80%;
  padding: 10px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  min-height: 50%;
  justify-content: space-around;
}

.addToCart button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}
